@charset "UTF-8";

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2ch;
  width: 80%;
  margin-left: 10%;

  h2 {
    text-align: center;
    grid-column: span 2;
  }

  .sub-title {
    font-size: 4rem;
    color: rgba(255, 0, 0, 0.603);
  }

  img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
  }
}

// TODO: Change the layout of the grid to fit bigger screens 3 | 4 @media
@media all and (min-width: 700px) {
  section {
    grid-template-columns: repeat(4, 1fr);

    h2 {
      grid-column: span 4;
    }
  }
}
